<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
   
</head>
<body>
    <form action="">
        <input type="text" placeholder="usuario" name="usuario">
        <input type="password" placeholder="xdxdxd; contraseña" name="usuario">
        <input type="text" placeholder="usuario" name="usuario">
    </form>
       
    <header> 
    
    </header>
   
   
</body>
</html>