<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/puntos.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Puntos</title>
   
</head>
<body>
       
    <header> 
    
    </header>
    
    <div class="center">

        <h1>PUNTOS</h1>
        <h2 class="rojo"><%= puntos %><%= nombre %></h2>
        <h2>Nivel 1 de ecologista</h2>
    </div>

   
</body>
</html>