<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/puntos.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Puntos</title>
   
</head>
<body>
       
    <header> 
    
    </header>
    <div id="nombre">Nombre del ecologista: <%= nombre %></div>
    <div class="center">
            <br>    </br>
        <br><div id="puntos">PUNTOS</div></br>
        <h2 class="rojo"><%= puntos %></h2>
        <h2>Nivel <%= nivel %> de ecologista</h2>
    </div>

   
</body>
</html>