
header{
    width: 100%;
    height: 500px;
    background-color:#A6E2EA;
    background-image: url("/images/portada.jpg");
    background-size: 70%;
    background-repeat:no-repeat;
    background-position: center center;
}
body{
    background-color:#A6E2EA;
}
.center
{
    text-align:center;
}
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}
.rojo   
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
    font-size: 100px;
}
h2
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    c
}